.DivConteiner{
    display: flex;
    justify-content: center;
    padding: 10px;
    
}
.Conteiner{
    display:flex;
    flex-direction:column;
    justify-content:center;
    padding: 0px;
    margin: 0px;
    width: 100vw;
    height: 100vh;
}

.DetailCard {
    display: flex;
    justify-content: center;
}
